{% extends "base/base.html" %}

{% block content %}
    <div class="row">
        <!-- Total Examples Card -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total de Denúncias</h5>
                    <p class="card-text">{{ total_examples }}</p>
                </div>
            </div>
        </div>

        <!-- Latest Examples Card -->
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Últimas 5 Denúncias Cadastradas</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for example in latest_examples %}
                            <li class="list-group-item">{{ example.nome }} - {{ example.descricao }}</li>
                        {% empty %}
                            <li class="list-group-item">Nenhuma denúncia recente cadastrada.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
