amqp==5.1.1
asgiref==3.7.2
#backports.zoneinfo==0.2.1
billiard==4.1.0
celery==5.3.4
celery-progress==0.3
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.0
Django==4.2.5
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-crispy-forms==1.13.0
django-datatables-view==1.20.0
django-environ==0.11.2
django-glrm==1.1.3
django-localflavor==3.1
django-minio-backend==3.5.0
django-stdimage==6.0.1
django-timezone-field==6.0.1
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
idna==3.4
kombu==5.3.2
minio==7.1.16
Pillow==10.0.1
prompt-toolkit==3.0.39
psycopg2-binary==2.9.7
PyJWT==2.8.0
python-crontab==3.0.0
python-dateutil==2.8.2
python-stdnum==1.19
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing-extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
vine==5.0.0
wcwidth==0.2.6
