{% extends "base/base.html" %}
{% load static %}

<!-- browser title -->
{% block title %} Excluir cliente {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Início</a></li>
  <li class="breadcrumb-item"><a href="{% url 'example:clientes-list-datatable' %}">Clientes</a></li>
  <li class="breadcrumb-item active">Excluir</li>
{% endblock %}

{% block content %}
<div class="card card-danger card-outline">
  <div class="card-header">
    <h3 class="card-title">Excluir Cliente</h3>
  </div>
  <div class="card-body">
    <p>Tem certeza de que deseja excluir o cliente "{{ dados.destino }} com a ida {{ dados.dataida }} e volta {{ dados.datavolta }} "?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Excluir</button>
      <a href="{% url 'example:viagens-detail' pk=dados.pk %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
